@{
    ViewData["Title"] = "CYBER STOCK - Home";
}

<!-- BEGIN Content -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>Página Inicial...</h1>
            </div>
        </div>
    </div>
</section>
<!-- END Content -->
